@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --green: #27ffcc;
  --purple: #14152a;
  --light-gray: #c6c6c6;
  --dark-gray: rgba(0, 0, 0, 0.5);

  /* Fonts */
  --primary-font: "Manrope";
  --secondary-font: "Source Code Pro";

  /* Font Sizes */
  --font-base: 16px;
  --font-big: 2rem;
  --font-huge: 4rem;

  /* Font Weight */
  --bold: 800;
  --light: 400;

  color-scheme: normal;
}

html {
  font-size: var(--font-base);
  scroll-behavior: smooth;
  /* scroll-padding-top: 90px; */
}

body {
  font-family: var(--primary-font), sans-serif;
  color: var(--black);
  font-weight: var(--bold);
  counter-reset: section;
}

h1 {
  font-size: var(--font-huge);
}
h2 {
  font-size: var(--font-big);
  color: var(--purple);
}
h3 {
  font-size: var(--font-huge);
  list-style: decimal;
  margin-bottom: 40px;
}
.h3-right {
  text-align: right;
}
h3::before {
  counter-increment: section;
  content: "0" counter(section) ".";
  color: var(--green);
  font-family: var(--secondary-font), "sans serif";
  font-size: var(--font-big);
  margin-right: 20px;
}

h6 {
  font-size: var(--font-base);
}

p.code {
  font-family: var(--secondary-font), sans-serif;
  color: #64ffda;
  font-weight: 800;
}

p strong {
  color: var(--green);
  font-family: var(--secondary-font);
}

p strong::after {
  content: "";
  display: block;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

header nav {
  height: 90px;
  padding: 0 40px;
  box-shadow: 0px 0px 10px var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

nav > a img {
  height: 50px;
}

header nav ol li {
  font-family: "Source Code Pro";
  color: #fff;
  margin: 20px;
  align-items: center;
  list-style-type: decimal-leading-zero;
}
header nav ol li::marker {
  color: #64ffda;
}

.header__menu span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #64ffda;
}

.header__menu span:not(:last-child) {
  margin-bottom: 6px;
}
/*  */
.hamburger,
.header__logo {
  z-index: 100;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 0;
  top: 50%;
}

.hamburger__inner {
  transition: background-color 0.3s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  left: 0;
  transition: 0.3s 0.2s ease-in-out;
}

.hamburger__inner::before {
  top: -8px;
}

.hamburger__inner::after {
  top: 8px;
}

.navigation,
.hamburger {
  transition: transform 0.3s 0.2s ease-in-out;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(8px) rotate(45deg);
  background-color: var(--white);
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-8px) rotate(-45deg);
  background-color: var(--white);
}

.navigation {
  height: 100vh;
  width: 100vw;
  background: #0e1020;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
}

.navigation--active {
  transform: translateX(0px);
}

.navigation__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-position: inside;
  font-size: var(--font-big);
}

.header__logo--active img {
  filter: invert(1);
}

.header__logo img {
  transition: filter 0.3s 0.1s ease-in-out;
}

/* MAIN */
section {
  min-height: 100svh;
  transition: 0.3s;
  padding: 0 40px 32px 40px;
  background-color: var(--white);
  padding-top: calc(5% + 90px);
  position: relative;
  overflow: hidden;
}

section.black {
  background-color: var(--black);
  color: var(--white);
}

.button {
  display: flex;
  padding: 1rem 2rem;
  width: 350px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25) inset,
    0px 0px 20px 3px rgba(0, 0, 0, 0.25);
  font-size: var(--font-big);
  margin: 40px 0px 40px 12%;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25) inset,
    0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}

.button.button-green {
  background-color: var(--green);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

#blob-svg {
  position: absolute;
  right: 0;
  top: calc(50% + 40px);
  transform: translateY(-50%);
}

.rect {
  aspect-ratio: 1 / 1;
  border: 1px solid var(--white);
  position: absolute;
  animation: rotationa 180s infinite linear;
}

.rect:nth-of-type(2n) {
  animation: rotationa 30s infinite linear;
}

@keyframes rotationa {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

#land .rect,
#skills .rect {
  border-color: var(--green);
}

#land {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.rect.rect1 {
  width: 25px;
  transform: rotate(165.904deg);
}

.rect.rect2 {
  width: 40px;
  transform: rotate(130.76deg);
}

.rect.rect3 {
  width: 150px;
  transform: rotate(31.136deg);
}

.rect.rect4 {
  width: 250px;
  transform: rotate(45deg);
}

#about p {
  font-size: var(--font-big);
  margin-inline: 20% 5%;
}

#about .arrow-down {
  position: absolute;
  right: 10%;
  bottom: 80px;
}

#skills {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

#skills .bars-container {
  width: clamp(280px, 70%, 100%);
  margin-inline: auto;
}

#skills .arrow-down {
  position: absolute;
  left: 10%;
  bottom: 80px;
}

progress,
progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  border-radius: 0;
}
progress {
  width: 100%;
  height: 12px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  appearance: none;
}
progress::-webkit-progress-bar {
  background-color: var(--light-gray);
}
progress::-webkit-progress-value {
  background-color: var(--green);
}

main ul {
  list-style: decimal-leading-zero;
  padding-left: 80px;
}
main ul li {
  padding-left: 5px;
}
main ul li::marker {
  color: #64ffda;
}

#contact {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}
#contact div {
  height: calc(100vh - 194px - 87px - 40px);
  /*div centering form (full height - h3 - all margins and paddings)*/
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
}

form {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  -webkit-appearance: none;
  appearance: none;
  font-family: var(--primary-font);
  padding: 0.75rem 1.25rem;
  font-size: var(--font-base);
  width: 100%;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  font-weight: 800;
}

textarea {
  height: 16em;
  resize: none;
}

#contact .button {
  margin: 0;
  margin: 1rem auto;
}

button {
  -webkit-appearance: none;
  appearance: none;
}
form .button {
  border: none;
  font-weight: 800;
  font-family: var(--primary-font);
  width: 100% !important;
  cursor: pointer;
}
input[type="email"],
textarea,
form button {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form button.form-button {
  color: var(--black);
}

#portfolio h3 {
  position: absolute;
  right: 100px;
  top: 112px;
  mix-blend-mode: difference;
  color: var(--white);
  z-index: 3;
  pointer-events: none;
  transition: 1s;
}

#portfolio h3::before {
  /* mix-blend-mode: normal !important; */
  color: var(--green);
  background-color: transparent;
}

#portfolio {
  display: flex;
  justify-content: space-around;
  padding: 0;
  transition: 1.5s;
}

#portfolio.active {
  height: 300px;
  min-height: 0px;
}

/* #portfolio.active span {
  margin-top: 150px;
} */

#portfolio.active h3 {
  top: 20px;
  opacity: 0.3;
}

#portfolio span {
  font-size: var(--font-big);
  mix-blend-mode: difference;
  color: var(--white);
  z-index: 3;
  text-align: center;
}

#portfolio__right,
#portfolio__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  transition: 0.5s;
  cursor: pointer;
}

#portfolio__right {
  background-color: var(--black);
  position: relative;
}

#portfolio__right::after {
  content: "";
  position: absolute;
  left: -100px;
  top: 0;
  border-right: 1px solid var(--black);
  border-left: 100px solid transparent;
  overflow: hidden;
  border-bottom: 100vh solid var(--black);
  pointer-events: none;
}

#portfolio__right:hover,
#portfolio__left:hover,
#portfolio__right.active,
#portfolio__left.active {
  flex-grow: 2;
}

#websites,
#graphics {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  background-color: var(--white);
  position: relative;
  overflow: hidden;
  z-index: 5;
  transition: min-height 1s, box-shadow 1s, max-height 1s;
}
#websites {
  max-height: 100vh;
}
#graphics {
  max-height: 5200px;
}

.hidden {
  /* display: none !important; */
  max-height: 0px !important;
  min-height: 0px !important;
  box-shadow: 0px 0px 0px 0px white !important;
}
/* GRAFIKI*/
#gallery {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

#gallery img {
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
  background-color: white;
}

/* FOOTER + about socials*/
footer {
  min-height: 150px;
  box-shadow: 0px 1px 10px black;
  padding: 20px;
  background-color: var(--purple);
}
footer p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300 !important;
}
footer p.arrow {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
footer p.arrow a {
  padding: 10px;
}
footer ul,
#about ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 500px;
  margin: 25px auto 10px;
}
#about ul {
  margin-top: 5%;
}
footer ul li,
#about ul li {
  list-style-type: none;
}
footer ul li img,
#about ul li img {
  width: 25px;
}

footer svg {
  width: 25px;
  fill: var(--light-gray);
  transition: 0.3s;
}
#about svg {
  fill: var(--white);
  width: 25px;
  transition: 0.3s;
  margin: 5px;
}
footer a:hover svg,
#about a:hover svg {
  fill: #64ffda;
}

/* Websites slider */
#slider {
  --slider-button-width: 75px;

  width: 100%;
  min-height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

.slide {
  width: 100%;
  flex: 1 0 100%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  padding-top: 90px;
}

#slider button {
  border: none;
  position: absolute;
  height: 100%;
  width: var(--slider-button-width);
  cursor: pointer;
  font-size: 2rem;
  opacity: 0.5;
  transition: 0.3s;
}

.slide a {
  max-width: calc(100% - (2 * var(--slider-button-width)));
  text-align: center;
}

#slider button.previous {
  left: 0;
  background: linear-gradient(-90deg, transparent, #11111130);
}

#slider button.next {
  right: 0;
  background: linear-gradient(90deg, transparent, #11111130);
}

#slider button.previous:hover {
  opacity: 1;
}

#slider button.next:hover {
  opacity: 1;
}

/* slider links */
#websites .mockups {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#websites .mockups img:nth-child(1) {
  width: 100%;
  position: relative;
  transition: 0.3s;
}
#websites .mockups img:nth-child(2) {
  width: 20%;
  aspect-ratio: auto;
  position: absolute;
  right: 0;
  transition: 0.3s;
}

#websites .stack-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  transition: 0.3s;
}

#websites .stack-container img {
  height: min(5vh, 5vw);
  min-height: 25px;
}

#websites a:hover img {
  filter: brightness(0.8);
}

/* Animations */
.bars-container progress::-webkit-progress-value {
  max-width: 0;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}

.bars-container progress.animated::-webkit-progress-value {
  max-width: 100%;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper :first-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
    transition: 0.2s;
}

.image-wrapper:hover :first-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;

}

/* mobile */
@media (width < 1000px) {
  :root {
    --font-base: 13px;
    --font-big: 1.5rem;
    --font-huge: 3rem;
  }
  section {
    padding: 106px 20px 32px 20px;
  }
  header nav {
    padding: 0 20px;
  }
  #land {
    max-width: 100%;
    align-items: end;
    grid-template-columns: 1fr;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: end;
  }
  .land-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 270px;
  }
  .button {
    max-width: 80%;
    margin: 10px 0px;
  }

  #land .rect {
    margin-right: -60px;
  }
  #about p {
    margin: 0;
  }
  #about .rect {
    margin-left: -170px;
  }
  .arrow-down {
    display: none;
  }
  #skills .rect {
    margin-right: -100px;
  }
  #portfolio h3 {
    left: 20px;
  }
  #websites {
    min-height: auto;
  }
  #websites li a {
    margin-inline: 15px;
    padding-block: 50px;
  }
  #contact .form-button {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  #blob-svg {
    position: absolute;
    width: 70% !important;
    max-height: 40%;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }
}
